/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 


@media only screen and (max-width: 1450px) {
	/* 1366px */

	/* Featured Properties */

	.hp-properties .arrow-holder {
		right: 22.4%;
	}

	.hp-properties .arrow-left {
		left: 21.4%;
	}

	/* Team */

	.comp-team-container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.hp-team .content p {
		padding: 0 60px 0 72px;
	}

	.hp-team .content .team-secondary-text {
		padding: 0 0 29px 0;
	}

	.hp-team .slick-prev::before, .hp-team .slick-next::before {
		font-size: 27px;
	}

	.hp-team .slick-prev {
		left: 49px;
	}

	.hp-team .slick-next {
		right: 100px;
		padding-right: 0;
	}

	.hp-team .slick-next::before {
		right: -62px;
	}

	.hp-team .slick-prev::before {
		top: 8px;
    	right: 6px;
	}

	/* Clients */
	.hp-clients .slick-slider {
		margin-left: -6%;
		margin-right: -6%;
	}

	.hp-clients .client-item::after {
		left: 74px;
	}

	.hp-clients .slick-prev {
		left: 148px;
	}

	.hp-clients .slick-next {
		right: 164px;
	}

	/* Get In Touch */
	.hp-git .container {
		max-width: 1000px;
	}

	/* Fixed Sidebar */
	.comp-social-sidebar a {
		width: 36px;
		height: 36px;
	}


}

@media only screen and (max-width: 1365px) {
	/* 1200 */	

	/* Global */

	.global-btn a, .global-btn input {
		width: 247px;
		height: 63px;
		font-size: 15px;
	}

	.primary-text {
		font-size: 59px;
	}

	.secondary-text {
		font-size: 39px;
	}

	/* Header */

	.header-inner {
		max-width: 1050px;
		margin: 0 auto;
	}

	/* Quick */
	.hp-quick-search {
		max-width: 1050px;
	}


	/* Featured Properties */

	.about-img img {
		max-width: 100%;
		margin: 0 auto;
	}

	.hp-properties a {
		text-align: right;
	}

	.fp-second-slick-wrapper .fp-slick-2 a {
		text-align: left;
	}

	.hp-properties .arrow-holder {
		right: 26.4%;
	}

	.hp-properties .arrow-left {
		left: 25.4%;
	}

	.fp-primary-style {
		font-size: 17px;
		line-height: 22px;
		padding: 64px 0 13px;
		max-width: 252px;
	}

	.fp-description .fp-secondary-style {
		font-size: 27px;
	}

	.fp-slick-wrapper::before {
		height: 216px;
		bottom: 78px;
	}


	/* Featured Communities */

	/* Featured Communities End  */

	/* About */

	.about-img {
		margin-right: 64px;
		left: 84px;
	}

	.about-img::before {
		width: 100%;
	}

	.hp-about-us .content {
		padding: 186px 94px 0 368px;
	}

	.about-primary-text {
		font-size: 20px;
		line-height: 32px;
	}

	.about-secondary-text {
		font-size: 14px;
		line-height: 27px;
	}

	.content .global-btn {
		padding-top: 34px;
	}

	/* Team */

	.hp-team .comp-team-container {
		max-width: 920px;
		margin: 0 auto;
	}

	.hp-team .primary-text {
		padding: 52px 0 9px 0;
	}

	.hp-team .content-primary,
	.hp-team .content-secondary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hp-team::before {
		top: 279px;
	}

	.hp-team .content .team-primary-text {
		font-size: 32px;
		padding: 0px 0 11px 0;
	}

	.hp-team .content .team-secondary-text {
		font-size: 18px;
		padding: 0 0 27px 0;
	}

	.hp-team .content p {
		font-size: 14px;
		line-height: 24px;
		max-width: 442px;
		margin: 0 auto;
	}

	.hp-team .normal,
	.hp-team .reverse {
		align-self: end;
	}

	.hp-team .slick-prev,
	.hp-team .slick-next {
		font-size: 11px;
	}

	.hp-team .slick-prev {
		left: 45px;
	}

	.hp-team .slick-next {
		right: 89px;
		padding-right: 0;
	}

	.hp-team .slick-prev::before,
	.hp-team .slick-next::before {
		font-size: 25px;
	}

	.hp-team .slick-next::before {
		top: 7px;
	}

	/* Tagline */
	.hp-tagline .container {
		max-width: 1000px;
	}


	/* Clients */
	.hp-clients .slick-slider {
		margin-left: 0;
		margin-right: 0;
	}

	.hp-clients .client-item {
		padding: 104px 0 180px 0;
	}

	.hp-clients .primary-text {
		font-size: 55px;
	}

	.hp-clients h3 {
		padding: 61px 0 6px 0;
		font-size: 22px;
	}

	.hp-clients p {
		font-size: 15px;
		max-width: 671px;
	}

	.hp-clients .slick-prev, .hp-clients .slick-next {
		font-size: 28px;
	}

	.hp-clients .slick-next {
		right: 154px;
	}

	.hp-clients .slick-prev {
		left: 154px;
	}

	.hp-clients .client-item::after {
		background: url(images/quotes-small.png) no-repeat;
		left: 91px;
	}

	/* Social */

	.hp-social .social-item a {
		min-height: 259px;
	}

	/* Get in touch */
	.hp-git .container {
		background: #fff;
		max-width: 939px;
		padding: 88px 60px 95px;
	}

	/* Intro Modal */

	/* Intro Modal End*/

	/* Fixed Sidebar */
	.comp-social-sidebar {
		right: 20px;
	}
} 

@media only screen and (max-width: 1199px) {

	/* Global */
	.primary-text {
		font-size: 47px;
	}

	.secondary-text {
		font-size: 30px;
	}

	.global-btn a, .global-btn input {
		width: 202px;
		height: 47px;
		font-size: 13px;
	}

	/* Header */
	.header-inner {
		max-width: 800px;
		margin: 0 auto;
	}

	.header .logo-holder img {
		max-width: 100%;
	}

	#nav li a, .nav2 li a {
		font-size: 13px;
	}

	.aios-split-nav {
		padding: 82px 20px 0;
	}

	/* Quick */
	.hp-quick-search {
		max-width: 850px;
	}

	.qs-xl select, 
	.qs-lg select, 
	.qs-sm select, 
	.qs-md input, 
	.qs-btn input, 
	.qs-btn a {
		font-size: 11px;
		padding: 0px 12px;
	}

	/* Quick End  */

	/* Featured Properties */

	.hp-properties {
		padding: 99px 0 109px 0;
	}

	.hp-properties img {
		max-width: 70%;
	}

	.fp-slick-wrapper::before {
		height: 181px;
		bottom: 64px;
	}

	.fp-primary-style {
		font-size: 15px;
		padding: 50px 0 11px;
		max-width: 222px;
		/* transform: translateX(11px); */
	}

	.fp-description .fp-secondary-style {
		font-size: 24px;
		padding-bottom: 19px;
	}

	.hp-properties a {
		text-align: right;
		margin-right: 33px;
	}

	.fp-slick-1 .fp-content,
	.fp-slick-3 .fp-content, 
	.fp-slick-1 .fp-description, 
	.fp-slick-3 .fp-description {
		margin-left: 0;
	}

	.hp-properties .arrow-holder {
		right: initial;
		transform: translateX(-50%);
		bottom: -4px;
		left: 71%;
	}

	.hp-properties button {
		font-size: 11px;
	}

	.hp-properties .ai-font-arrow-b-p::before, 
	.hp-properties .ai-font-arrow-b-n::before {
		font-size: 24px;
	}

	.hp-properties .ai-font-arrow-b-n::before {
		right: -24px;
		top: -4px;
	}

	.hp-properties .ai-font-arrow-b-p::before {
		left: -21px;
		top: -4px;
	}

	.hp-properties .arrow-btn.prev {
		padding-right: 30px;
	}

	.hp-properties .fp-slick-2 .fp-content > a {
		margin-right: 0;
		text-align: center;
	}

	.fp-slick-2 .fp-content {
		margin-right: 14px;
	}

	.fp-slick-2 .fp-description {
		margin-right: 0;
		transform: translateX(46px);
	}

	.fp-second-slick-wrapper .fp-slick-2 a {
		margin-right: auto;
	}

	.hp-properties .arrow-left {
		left: 35.4%;
		bottom: 0;
	}

	/* Featured Communities */



	/* About */

	.hp-about-us::before {
		height: 200px;
	}

	.hp-about-us .content {
		padding: 170px 44px 0 245px;
		margin-left: -162px;
		margin-right: 58px;
	}

	.about-primary-text {
		font-size: 17px;
		line-height: 26px;
		padding: 22px 0
	}

	.about-secondary-text {
		font-size: 13px;
		line-height: 25px;
	}

	.hp-about-us .content .global-btn {
		padding-top: 21px;
	}

	.hp-about-us .global-btn .primary-btn {
		font-size: 13px;
	}

	.hp-about-us .global-btn a {
		width: 179px;
		height: 42px;
		font-size: 13px;
	}


	/* Team */

	.comp-team-container {
		grid-row-gap: 34px;
	}

	.hp-team .comp-team-container {
		max-width: 781px;
	}

	.hp-team .content p {
		font-size: 13px;
		line-height: 20px;
		padding: 0 39px 0 34px;
	}

	.hp-team .content .team-secondary-text {
		font-size: 15px;
		padding: 0 0 21px 0;
	}

	.hp-team .content .team-primary-text {
		font-size: 28px;
		padding: 0px 0 7px 0;
	}

	.hp-team .slick-next {
		right: 67px;
		padding-right: 0;
	}

	.hp-team .slick-next::before {
		right: -54px;
	}

	.hp-team .slick-prev {
		left: 19px;
	}

	.hp-team .slick-prev, 
	.hp-team .slick-next {
		font-size: 10px;
	}

	/* Tagline */

	.hp-tagline p {
		font-size: 20px;
		line-height: 28px;
	}

	/* Clients */

	.hp-clients {
		padding: 107px 0 158px 0;
	}

	.hp-clients .client-item::after {
		left: 82px;
	}

	.hp-clients .slick-list {
		padding-left: 12%!important;
		padding-right: 12%!important;
	}

	.hp-clients .primary-text {
		font-size: 49px;
	}

	.hp-clients h3 {
		padding: 51px 0 4px 0;
		font-size: 20px;
	}

	.hp-clients h4 {
		padding-bottom: 29px;
		font-size: 16px;
	}

	.hp-clients p {
		font-size: 11px;
		max-width: 519px;
	}
	
	.hp-clients .client-item {
		padding: 90px 0 148px 0;
	}

	.hp-clients .slick-dots {
		bottom: 91px;
	}

	/* Social */

	.hp-social {
		padding: 65px 0 81px;
	}

	.hp-social .social-item a {
		min-height: 214px;
	}


	/* Get in touch */

	.hp-git .primary-text {
		padding-bottom: 60px;
		font-size: 45px;
	}
	
	.hp-git .container {
		max-width: 811px;
		padding: 69px 41px 84px;
	
	}
	
	/* Footer */

	/* Footer End  */

	/* Intro Modal */

	/* Intro Modal End*/

	/* Fixed Sidebar */

	.comp-social-sidebar {
		top: 46%;
		right: 9px;
	}

	.comp-social-sidebar a {
		width: 30px;
		height: 30px;
	}

	.comp-social-sidebar::before {
		height: 119px;
		top: -138px;
    	right: 15px;
	}

	.comp-social-sidebar::after {
		height: 119px;
		bottom: -138px;
		right: 13px;
	}

} 



/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
	.intro-popup-form .form-md {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	/* Header */
	.aios-mobile-header-wrapper {
		z-index: 1020 !important;
	}


	header.header {
		position: relative;
		background: #cdbe9d;
		margin: 53px 0 0;
	}

	.aios-split-nav {
		display: none;
	}

	.header-inner>.row {
		justify-content: center;
	}

	/* Quick */
	form.comp-search-container {
		flex-wrap: wrap;
		gap: 7px;
   		justify-content: space-between;
	}

	.qs-xl, 
	.qs-lg, 
	.qs-sm, 
	.qs-md {
		width: 100%;
	}

	.qs-btn {
		width: 100%;
		margin: 0 auto;
	}

	.qs-btn {
		flex-direction: column;
	}


	/* Featured Properties */
	.hp-properties {
		background: #fff;
	}

	.hp-properties::before {
		opacity: 0;
	}

	.hp-properties .fp-primary-style,
	.hp-properties .fp-secondary-style,
	.hp-properties .global-btn a{
		color: #000;
	}

	.hp-properties a {
		text-align: center;
		margin-right: 0; 
	}

	.fp-content {
		flex-direction: column-reverse;
	}

	.fp-description {
		margin-left: auto !important;
		margin-right: auto;
		padding: 0 0 33px 0;
		text-align: center;
	}

	.hp-properties .global-btn a {
		border: 1px solid #000;
	}

	.hp-properties .arrow-holder {
		right: initial;
		transform: translateX(-50%);
		bottom: -37px;
		left: 49%;
	}

	.fp-slick-2 .fp-content {
		justify-content: center;
		flex-direction: column;
	}

	.fp-slick-2 .fp-description {
		margin-right: auto;
		transform: none; 
	}

	.fp-slick-wrapper::before {
		height: 181px;
		bottom: 15px;
	}

	.fp-slick-wrapper::after {
		display: none;
	}

	/* Communities */
	.fc-desk{
		display: none;
	}

	.fc-title {
		position: relative;
		top: 0;
		left: 0;
	}

	.fc-title h2 {
		font-size: 50px;
	}

	.fc-mob {
		display: block !important;
		text-align: center;
	}

	.fc-mob .global-btn a {
		color: #000;
		border: 1px solid #000;
		margin: 30px auto;
	}

	.global-btn a:hover{
		color: #fff;
		border: 1px solid #cdbe9d;
	}

	/* About */

	.comp-about-us-container {
		grid-template-columns: none;
		grid-template-areas: 
		"aboutContent"
		"aboutImg "
		;
	}

	.hp-about-us .content {
		margin: 0 auto;
		padding: 80px 74px 0;
		text-align: center;
		max-width: 600px;
	}

	.about-primary-text {
		text-align: center;
		padding-bottom: 9px;
	}

	.hp-about-us .content .global-btn {
		display: inline-block;
	}

	.about-img {
		margin-right: 0;
		left: 0;
		transform: translateX(0);
	}

	.about-img::before {
		margin-top: 0;
		margin-right: 0;
		width: 100%;
		left: 50%;
		bottom: 2px;
		max-width: 498px;
		transform: translateX(-50%);
	}


	/* Team */

	.hp-team {
		padding-bottom: 61px;
	}

	.hp-team::before {
		display: none;
	}

	.comp-team-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.comp-team-container img {
		margin: 0 auto;
	}

	.hp-team .normal::after {
		left: 56px;
	}

	.hp-team .reverse::after {
		right: 60px;
	}

	.hp-team .content-primary::before,
	.hp-team .reverse::before,
	.hp-team .normal::before, 
	.hp-team .content-secondary::before,
	.hp-team .reverse::after,
	.hp-team .normal::after
	{
		display: none;
	}

	.hp-team .slick-prev, .hp-team .slick-next {
		top: 55%;
	}

	.hp-team .slick-prev {
		left: 20px;
	}

	.hp-team .slick-next {
		right: 67px;
	}

	/* Tagline */


	/* Clients */

	.hp-clients {
		padding: 84px 0 157px 0;
	}

	.hp-clients .slick-list {
		padding-left: 16%!important;
		padding-right: 16%!important;
	}

	.hp-clients .client-item {
		padding: 66px 0 115px 0;
	}

	.hp-clients .primary-text {
		font-size: 37px;
	}

	.hp-clients h4 {
		padding-bottom: 15px;
		font-size: 14px;
	}

	.hp-clients h3 {
		padding: 30px 0 4px 0;
		font-size: 17px;
	}

	.hp-clients p {
		font-size: 11px;
		max-width: 400px;
	}

	.hp-clients .slick-dots {
		bottom: 69px;
	}

	.hp-clients .slick-next {
		right: 28px;
	}

	.hp-clients .slick-prev {
		left: 28px;
	}

	.hp-clients .client-item::after {
		left: 26px;
		bottom: 59%;
	}


	/* Social */

	.hp-social .social-item a {
		min-height: 154px;
	}


	/* Get in touch */

	.hp-git {
		background: #fff;
		padding: 0;
	}

	.hp-git .container {
		max-width: 649px;
		padding: 69px 0px 84px;
	}

	.git-form {
		flex-wrap: wrap;
		padding: 21px 55px 89px;
	}

	.hp-git .form-md {
		display: inline-block;
		width: 100%;
		padding: 0 0 10px;
	}

	.git-form > div {
		padding-top: 33px;
	}

	.git-form .form-md textarea {
		height: 75px;
	}

	.hp-git .global-btn {
		bottom: 10px;
	}
	
	/* Footer */

	.upper-footer {
		flex-direction: column;
	}
	.upper-footer .pad-right {
		padding: 0 0 69px 0;
		max-width: 80%;
		margin: 0 auto;
	}

	.upper-footer .pad-left {
		padding: 0;
		max-width: 80%;
		margin: 0 auto;
	}

	/* Footer End  */

	/* Intro Modal */

	/* Intro Modal End*/

	/* Fixed Sidebar */

	.comp-social-sidebar {
		display: none;
	}
	
	/* The following are used on inner pages. Please edit carefully. */
	.ip-banner canvas{
		min-height: 100%;
	}
	.inner {
	    width: 100%;
	}
	#content-sidebar, #content-full {
	    width: 100%;
	}	
	.outer{
		width: 100%;
		min-width: 100%;
	}
	#content-sidebar #content{
		width: 100%;
	}
	
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {


	.intro-popup-form div.wpcf7-response-output {
		font-size: 11px;
	}
	/* Header */

	/* Header End  */

	/* Quick */

	/* Quick End  */

	/* Featured Properties */

	/* Featured Properties End  */

	/* Featured Communities */

	/* Featured Communities End  */

	/* About */

	.hp-about-us .content {
		margin: 0 auto;
		padding: 80px 20px 0;
		text-align: center;
		max-width: 100%;
	}

	/* Team */

	.hp-team .slick-prev,
	 .hp-team .slick-next {
		top: 55.4%;
	}

	/* Tagline */



	/* Tagline End  */

	/* Clients */

	.hp-clients .client-item::after {
		left: 7px;
		bottom: 65%;
	}

	.hp-clients .slick-list {
		padding-left: 5%!important;
		padding-right: 5%!important;
	}

	.hp-clients .slick-prev {
		left: 2px;
	}

	.hp-clients .slick-next {
		right: 2px;
	}
	/* Social */

	.hp-social {
		padding: 52px 0 44px;
	}

	.comp-social-container {
		padding: 53px 0 0;
	}

	.hp-social .social-item a {
		min-height: 124px;
	} 

	/* Get in touch */



	.hp-git .container {
		max-width: 408px;

	}
	
	/* Footer */

	/* Footer End  */

	/* Intro Modal */
	.aiosp-content.aios-popup-body.intro-popup-body {
		padding: 95px 44px 50px;
	}

    .ip-banner .container{
        width: 100%;
    }


}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
	.intro-popup-form div.wpcf7-response-output {
		bottom: -38px;
	}

	.intro-popup-form .use-floating-validation-tip .wpcf7-not-valid-tip {
		width: 120px;
		font-size: 11px;
	}

	/* Header */

	/* Header End  */

	/* Quick */

	/* Quick End  */

	/* Featured Properties */

	/* Featured Properties End  */

	/* Featured Communities */

	/* Featured Communities End  */

	/* About */

	/* About End  */

	/* Team */

	/* Team End  */

	/* Tagline */

	/* Tagline End  */

	/* Clients */

	/* Clients End  */

	/* Social */

	/* Social End  */

	/* Get in touch */
	.git-form {
		padding: 2px 30px 70px;
	}

	.hp-git .container {
		max-width: 281px;
	}

	.hp-git .secondary-text-holder {
		margin-bottom: 13px;
	}
	
	/* Footer */

	/* Footer End  */

	/* Intro Modal */

	/* Intro Modal End*/

}
 
